.qrCode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background: #E9EAEC;
}

.qrField {
    /* background: #f9f9f9; */
    background-color: #ffffff;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .1);
    padding: 3px;
    border-radius: 10px;
}