@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap&subset=cyrillic');
.navbar {
    width: 100%;
    display: flex;
    height: 60px;
    margin-bottom: 3%;
    justify-content: space-between;
    align-items: center;
    /* background: #f9f9f9; */
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.profile-info {
    height: 100px;
}

.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 7px;
    min-width: 160px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .1);
    z-index: 1;
    right: 10px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.studentImg {
    /* padding: 3%; */
    opacity: 0.8;
    height: 22px;
    padding-right: 15px;
}

.logo {
    margin-left: 3%;
    cursor: pointer;
}

.logo-text-yellow {
    font-size: 32px;
    /* padding-right: 2px; */
    /* font-family: 'Pangolin'; */
    /* color: #fafd31; */
    font-family: 'Comfortaa';
    color: #FAD02C;
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.37); */
}

.logo-text {
    /* font-family: 'Pangolin'; */
    font-family: 'Comfortaa';
    color: #363636;
    font-size: 32px;
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, .1); */
}

.btnLogout {
    border: none;
    background-color: inherit;
    /* font-family: 'Pangolin'; */
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    /* margin-right: 3%; */
    cursor: pointer;
    padding: 10px;
}

.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 15px;
    width: 9%;
    align-items: center;
}

#sidebarMenu {
    height: 85%;
    position: fixed;
    right: 10px;
    width: 270px;
    border-radius: 5px;
    /* margin-top: 337px; */
    margin-top: 23%;
    transform: translateX(300px);
    transition: transform 250ms ease-in-out;
    background: #fff;
    /* background: #f9f9f9; */
}

.side-header {
    /* text-align: center; */
    margin: 25px 0 10px 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c7c7c7c7;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
    list-style: none;
    /* color: #333652; */
    /* text-transform: uppercase;
    font-weight: bold; */
    /* border-bottom: 1px solid #ccccccda; */
    padding-left: 15px;
    border-left: 5px solid #FAD02C;
    /* padding: 10px 0 10px 20px; */
    margin: 10px 0 5px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebarMenuInner li:hover {
    background-color: #FAD02C;
    /* opacity: 0.3; */
}

@import url('https://fonts.googleapis.com/css?family=Exo+2:500&display=swap&subset=cyrillic');
.sidebarMenuInner li p {
    margin: 10px 0;
    /* font-weight: 400; */
    font-family: 'Exo 2', sans-serif;
}


/* Иконка Открыть список */

input[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    /* position: absolute;
    z-index: 99; */
    height: 100%;
    width: 100%;
    /* top: 22px;
    left: 15px; */
    /* height: 22px; */
    width: 22px;
    padding-bottom: 3px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    /* position: absolute; */
    height: 3px;
    width: 100%;
    background-color: #000000;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}